html, body {
    padding: 0;
    margin:0;
    box-size: border-box;
    hight: 100%
    font-family:'Times New Roman' Times, serif;

}
h1{
color:red;
}

body{
    desplay: flex;
    flex:1;
    flex-direction: column;

}
.container.navigation{
    background color: gold;
}
.container.nav-items{
    desplay: flex;
    flex-direction: row;

}
footer{
    margin-top: auto;
}